<!-- Hero Section -->
<section class="hero-section">
  <div class="hero-content">
    <h1 class="bubbly-text">Collect Feedback,<br />Unlock Ideas</h1>
    <p>
      Create and share surveys in minutes – from team events to workplace culture. Collect opinions,
      engage your audience, and turn feedback into action.
    </p>
    <button (click)="modalService.isCreateSurveyOpen.set(true)" class="new-survey-btn">
      New survey
      <img src="/assets/images/add_circle_purple.svg" class="add-icon" alt="add icon" />
    </button>
  </div>

  <div class="hero-image">
    <div class="animated-visual">
      <img src="/assets/images/chat-icon.svg" class="floating-icon chat-bubble" alt="Chat" />
      <img
        src="/assets/images/question-icon.svg"
        class="floating-icon question-mark"
        alt="Question"
      />
      <img src="/assets/images/check-icon.svg" class="floating-icon check-mark" alt="Check" />
      <img src="/assets/images/star-icon.svg" class="floating-icon star-shape" alt="Star" />

      <img src="/assets/images/phone-base.svg" class="phone-base" alt="Survey Phone Illustration" />
    </div>
  </div>
</section>
