<!-- Hero Section -->
  <section class="hero-section">
    <div class="hero-content">
      <h1 class="bubbly-text">
        Collect Feedback,<br />Unlock Ideas
      </h1>
       <p>
      Create and share surveys in minutes – from team events to workplace culture. Collect opinions,
      engage your audience, and turn feedback into action.
    </p>
      <button class="new-survey-btn">New survey</button>
    </div>

    <div class="hero-image">
      <img src="/assets/images/Visual 3.svg" alt="Survey Illustration" />
    </div>
  </section>